---
---

@import "minimal-light";


.site-nav {
  margin-bottom: 2rem;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.site-nav a {
  text-decoration: none;
  font-weight: 500;
  color: #333;
}

.site-nav a:hover {
  text-decoration: underline;
}
