---
---

@import "minimal-light-no-dark-mode";


.no-profile header {
  display: none;
}

.no-profile .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-profile section {
  width: 100%;
  max-width: 800px;
  float: none;
  padding-top: 4em;
  padding-bottom: 50px;
}
