---
---

@import "minimal-light-no-dark-mode";

.wrapper {
  position: relative;
}

.site-nav {
  position: absolute;
  top: 1.25rem;
  right: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem; // navigation bar에서 페이지 제목들 간의 간격
  margin: 0;
}

.site-nav a {
  text-decoration: none;
  font-weight: 400; // navigation bar에서 페이지 제목 두께
  color: #000 !important;
  padding: 0.25rem 0.5rem;
}

.site-nav a.active {
  font-weight: 640; // navigation bar에서 현 페이지 제목 두께
}

@import "minimal-light-no-dark-mode";

.wrapper {
  position: relative;
}

.site-nav {
  position: absolute;
  top: 1.25rem;
  right: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
}

.site-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem; // navigation bar에서 페이지 제목들 간의 간격
  margin: 0;
}

.site-nav a {
  text-decoration: none;
  font-weight: 400; // navigation bar에서 페이지 제목 두께
  color: #000 !important;
  padding: 0.25rem 0.5rem;
}

.site-nav a.active {
  font-weight: 640; // navigation bar에서 현 페이지 제목 두꼐
}

.site-nav a:hover {
  text-decoration: underline;
  color: #222 !important;
}

.wrapper > section {
  padding-top: 6rem; // navigation bar이랑 본문 사이의 거리
}

.no-profile header {
  display: none;
}

.no-profile .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-profile section {
  width: 100%;
  max-width: 800px;
  float: none;
  padding-top: 6em; // navigation bar이랑 본문 사이의 거리
  padding-bottom: 50px;
}


// talk 설정

.talk-list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 1.5rem 0;
}

.talk-entry {
  display: flex;
  column-gap: 0.5rem;
  align-items: flex-start;
  margin-bottom: 0.75rem;
}

.talk-bullet {
  color: #039827;
  font-weight: 700;
  min-width: 1.5rem;
  text-align: right;
  padding-top: 0.1rem;
}

.talk-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.talk-primary {
  font-size: 1.02rem;
}

.talk-secondary {
  color: #555;
}
